

@media (max-width: 499px) {
    
     .f1 {
        display: flex;
        flex-direction: row;
        
        margin-bottom: 10px;

    }
    .Button{
        padding-top:20px;
        margin-top:20px ;
        
    }
    
}